@charset "utf-8";


// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;

/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
// @import "../../node_modules/bulma/sass/elements/_all";
// @import "../../node_modules/bulma/sass/components/_all";
// @import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";

// Update some of Bulma's component variables
$body-background-color: $white-ter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;