.grid-sizer,
.grid-item { 
    margin: 1rem;

    @include mobile { 
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    @include tablet-only { 
        width: 33%;
    }
    @include desktop-only { 
        width: 25%;
    }
    @include widescreen { 
        width: 20%;
    }

    img {
        display: block;
        width: 100%;
    }
}

.grid-item--width2 { 
    @include tablet-only { 
        width: 66%;
    }
    @include desktop-only { 
        width: 50%;
    }
    @include widescreen { 
        width: 40%;
    }
}

.grid-item--width3 { 
    @include tablet-only { 
        width: 100%;
    }
    @include desktop-only { 
        width: 75%;
    }
    @include widescreen { 
        width: 60%;
    }
}

