@import 'bulma';
@import 'masonry';

$font-stack:  -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;


html, body {
  // background-color: $background;
  min-height: 100vh;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.lum-lightbox.lum-open {
  background: rgba( $grey-lighter, .7 );
  z-index: 2;
}

.grid-item {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1;
  grid-template-areas: "main";
  // overflow: hidden;

 
  .one {
    grid-row: 1;
    grid-column: 1;
   
  }
  .two {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
  }

  img {
    opacity: 0;
  }
  
  img:not(.initial) {
    transition: opacity 1s;
  }
  img.initial,
  img.loaded,
  img.error {
    opacity: 1;
  }
  img:not([src]) {
    visibility: hidden;
  }
}
