---
title: Lowi
---

<section class="section">
  <div class="container">
    <h1 class="title">
        New York
    </h1>

    <div class="grid">
      <div class="grid-sizer"></div>
      <% data.images.each_with_index do |img, index| %>
        <a class="grid-item" 
            href="images/nyc/<%= img[:Name] %>" 
            data-rating="<%= img[:Rating] %>" 
            data-palette="<%= JSON.dump(img[:Palette]).gsub(/\"/, "'") %>"
            >
          <div class="two grid-item-bg" style="width:100%; padding-bottom: <%= 100.0 * img[:ImageHeight] / img[:ImageWidth] %>%" ></div>
          <img class="one" data-src="images/nyc/<%= img[:Name] %>"/>
        </a>
      <% end %>
    </div>

  </div>
</section>
